# Ignore all markdown files except README
*.md
!README.md

# Ignore PDF files
*.pdf

# Ignore Java compiled artifacts
*.class
/PracticeDay5/nbproject/private/
/PracticeDay5/build/
/BankAccountSystem/nbproject/private/
/BankAccountSystem/build/
/BankingSystem2/nbproject/private/
/BookLibrary/nbproject/private/
/PraticeDay6/nbproject/private/
/PraticeDay6/build/
/HospitalSystem/nbproject/private/
/PracticeDay7/nbproject/private/
/PracticeDay7/build/
.claude/
/HotelSystem/nbproject/private/
/Onthi/nbproject/private/
/Exxcercise001/nbproject/private/
/Exxcercise001/build/
/HotelSystem/build/
/Student_bumber/nbproject/private/
/Student_bumber/build/
/SchoolSystem/nbproject/private/
/JavaAdDay1/nbproject/private/
/JavaAdDay1/build/
/Supermarket/nbproject/private/
/JavaAdDay2/nbproject/private/
/JavaAdDay2/build/
/JavaAdDay3/nbproject/private/
/JavaAdDay3/build/
/SchoolManager_GenericMapList/nbproject/private/
/JavaAdDay4/nbproject/private/
/JavaAdDay4/build/
/JavaAdDay5/nbproject/private/
/JavaAdDay5/build/
